Localization
{
	ru
	{
		// Dres
		#LOC_OPX-IW_Dres_Name_Alt = 1 Дрес
		#LOC_OPX-IW_Dres_Biome_SD = залежи соли^pf
		#LOC_OPX-IW_Dres_Biome_MaC = большие кратеры^pm
		#LOC_OPX-IW_Dres_Biome_MiC = малые кратеры^pm
		#LOC_OPX-IW_Dres_Biome_L = низины^pf
		#LOC_OPX-IW_Dres_Biome_M = равнины^pf
		#LOC_OPX-IW_Dres_Biome_H = высокогорье^n
		#LOC_OPX-IW_Dres_Biome_C = каньон^m

		// Plas
		#LOC_OPX-IW_Plas_Name = Плас^M
		#LOC_OPX-IW_Plas_Name_Alt = 2 Плас
		#LOC_OPX-IW_Plas_Desc = Плас, второй по величине объект в поясе астероидов Кербола, может показаться неприметным серым объектом на труднодоступной орбите высоко над плоскостью системы. Это предположение, похоже, полностью верно. Однако у него есть луна, которая, как мы надеемся, представляет больший интерес.
		#LOC_OPX-IW_Plas_Biome_L = низины^pf
		#LOC_OPX-IW_Plas_Biome_M = равнины^pf
		#LOC_OPX-IW_Plas_Biome_H = высокогорье^n
		#LOC_OPX-IW_Plas_Biome_MB = гора Басор^f
		#LOC_OPX-IW_Plas_Biome_HC = кратер Хоган^m
		#LOC_OPX-IW_Plas_Biome_C = кратеры^pm
		#LOC_OPX-IW_Plas_Biome_P = полюса^pm
		
		// Krov
		#LOC_OPX-IW_Krov_Name = Кров^M
		#LOC_OPX-IW_Krov_Name_Alt = 2 (1) Кров
		#LOC_OPX-IW_Krov_Desc = Кров — крошечный астероид, вращающийся высоко над плоскостью Солнечной системы. Непонятно, зачем вообще кто-то нанёс его на карту. Несмотря на свою тёмность, он всё же отражает достаточно много света, чтобы его можно было обнаружить даже в мощный телескоп.
		#LOC_OPX-IW_Krov_Biome_H = высокогорье^n
		#LOC_OPX-IW_Krov_Biome_M = равнины^pf
		#LOC_OPX-IW_Krov_Biome_L = низины^pf
		
		// Selbig
		#LOC_OPX-IW_Selbig_Name = Сельбиг^M
		#LOC_OPX-IW_Selbig_Name_Alt = 9 Сельбиг
		#LOC_OPX-IW_Selbig_Desc = Третий по величине астероид во внутренней части системы. Сельбиг — крупный астероид во внешних частях пояса астероидов. Он очень близок к сферической форме, вероятно, потому, что он реаккрецировал после создания большого семейства астероидов, и является крупнейшим углеродистым астероидом.
		#LOC_OPX-IW_Selbig_Biome_L = низины^pf
		#LOC_OPX-IW_Selbig_Biome_M = равнины^pf
		#LOC_OPX-IW_Selbig_Biome_H = высокогорье^n
		#LOC_OPX-IW_Selbig_Biome_C = кратер^m
		#LOC_OPX-IW_Selbig_Biome_WC = кратер Винж^m
		
		// Hafnia
		#LOC_OPX-IW_Hafnia_Name = Хафния^F
		#LOC_OPX-IW_Hafnia_Name_Alt = 19 Хафния
		#LOC_OPX-IW_Hafnia_Desc = Хафния — это камень среднего размера с богатой историей. По-видимому, один из самых ярких известных астероидов, и его открытие оказалось неожиданным относительно поздно в период открытия астероидов, особенно с таким большим 50-летним разрывом между ним и последним пронумерованным астероидом. Возможно, мы, кербалы, больше сосредоточились на более важных вещах. Например, на боулинге. Этот объект не был создан Джанет, поспорьте с мягкой комнатой.
		#LOC_OPX-IW_Hafnia_Biome_C = кратеры^pm
		#LOC_OPX-IW_Hafnia_Biome_TC = кратер Томлинсон^m
		#LOC_OPX-IW_Hafnia_Biome_E = выброс^m
		#LOC_OPX-IW_Hafnia_Biome_L = низины^pf
		#LOC_OPX-IW_Hafnia_Biome_M = равнины^pf
		#LOC_OPX-IW_Hafnia_Biome_H = высокогорье^n
		
		// Kortens
		#LOC_OPX-IW_Kortens_Name = Кортенс^M
		#LOC_OPX-IW_Kortens_Name_Alt = 45 Кортенс
		#LOC_OPX-IW_Kortens_Desc = 45 Кортенс выглядит для всего мира как довольно стандартный, хотя и довольно большой, астероид. Однако недавно было обнаружено, что это единственный известный астероид, обладающий более чем одной луной. Его поверхность потрескалась и испещрена кратерами, которые, вероятно, сохранили часть древнейшей местности в Солнечной системе.
		#LOC_OPX-IW_Kortens_Biome_CD = залежи углерода^pf
		#LOC_OPX-IW_Kortens_Biome_C = кратеры^pm
		#LOC_OPX-IW_Kortens_Biome_L = низины^pf
		#LOC_OPX-IW_Kortens_Biome_H = высокогорье^n
		
		// Lui
		#LOC_OPX-IW_Lui_Name = Люи^m
		#LOC_OPX-IW_Lui_Name_Alt = 45 (2) Люи
		#LOC_OPX-IW_Lui_Desc = Самая маленькая и самая внутренняя луна астероида 45 Кортенс, Люи, является воплощением изначальной планетезимали. Его крошечный размер, но относительно высокая гравитация для такого размера, подразумевает, что он оставался единым целым с момента образования Кербола.
		#LOC_OPX-IW_Lui_Biome_S = поверхность^n
		
		// Anton
		#LOC_OPX-IW_Anton_Name = Антон^M
		#LOC_OPX-IW_Anton_Name_Alt = 45 (1) Антон
		#LOC_OPX-IW_Anton_Desc = Антон — более крупный и самый удаленный спутник Кортенса. Он в целом довольно похож, хотя его более низкая плотность подразумевает, что он представляет собой нечто вроде груды щебня по сравнению со своим монолитным младшим братом. Не поскользнитесь, а то улетите!
		#LOC_OPX-IW_Anton_Biome_E = экватор^m
		#LOC_OPX-IW_Anton_Biome_L = низины^pf
		#LOC_OPX-IW_Anton_Biome_P = полюса^pm
		
		// Loushine
		#LOC_OPX-IW_Loushine_Name = Лушин^M
		#LOC_OPX-IW_Loushine_Name_Alt = 212 Лушин
		#LOC_OPX-IW_Loushine_Desc = 212 Лушин — астероид довольно обычного размера, обнаруженный в центре главного пояса астероидов. Обнаруженный всего за несколько лет до начала космической эры Бри Керманом в обсерватории Пика Кратера, он позже был признан в целом похожим по форме и составу на позднее обнаруженный около Кербина астероид 433 Эдас. Однако, в отличие от Эдаса, у Лушина, как полагают, есть спутник.
		#LOC_OPX-IW_Loushine_Biome_KL = доля Карамански^f
		#LOC_OPX-IW_Loushine_Biome_WL = доля Вебера^f
		#LOC_OPX-IW_Loushine_Biome_S = склоны^pm
		#LOC_OPX-IW_Loushine_Biome_C = кратеры^pm
		#LOC_OPX-IW_Loushine_Biome_N = перешеек^m
		
		// Everhart
		#LOC_OPX-IW_Everhart_Name = Эверхарт^M
		#LOC_OPX-IW_Everhart_Name_Alt = 212 (1) Эверхарт
		#LOC_OPX-IW_Everhart_Desc = (212) Лушин I Эверхарт — это абсолютно крошечный астероид, который едва удерживается на орбите гравитацией астероида 212 Лушин. Кроме этого мы не знаем, что это за чертовщина. Или почему она там. Помогите
		#LOC_OPX-IW_Everhart_Biome_H = высокогорье^n
		#LOC_OPX-IW_Everhart_Biome_L = низины^pf
		
		// Graybar
		#LOC_OPX-IW_Graybar_Name = Грайбар^M
		#LOC_OPX-IW_Graybar_Name_Alt = 705 Грайбар
		#LOC_OPX-IW_Graybar_Desc = Пятый по величине объект в поясе астероидов, Грайбар так долго оставался необнаруженным из-за своей необычно темной поверхности. Возьмите с собой фонарики, если они работают!
		#LOC_OPX-IW_Graybar_Biome_H = высокогорье^n
		#LOC_OPX-IW_Graybar_Biome_M = равнины^pf
		#LOC_OPX-IW_Graybar_Biome_L = низины^pf
		#LOC_OPX-IW_Graybar_Biome_SPR = южный полярный регион^m
		#LOC_OPX-IW_Graybar_Biome_NPR = северный полярный регион^m
		#LOC_OPX-IW_Graybar_Biome_R = Разломы^pf
		
		// Vedra
		#LOC_OPX-IW_Vedra_Name = Ведра^F
		#LOC_OPX-IW_Vedra_Name_Alt = 958 Ведра
		#LOC_OPX-IW_Vedra_Desc = 958 Ведра — небольшой астероид S-типа на необычной кометной орбите между поясом астероидов и внешней частью системы. Ведра была первым из нового класса объектов, обнаруженных в системе Керболар.
		#LOC_OPX-IW_Vedra_Biome_B = выступы^pm
		#LOC_OPX-IW_Vedra_Biome_NH = северное полушарие^n
		#LOC_OPX-IW_Vedra_Biome_SH = южное полушарие^n
		#LOC_OPX-IW_Vedra_Biome_C = кратер^n
		
		// Phaekav
		#LOC_OPX-IW_Phaekav_Name = Фейкав^M
		#LOC_OPX-IW_Phaekav_Name_Alt = 3190 Фейкав
		#LOC_OPX-IW_Phaekav_Desc = Когда 3190 Фейкав был впервые обнаружен, ученые думали, что это просто еще один астероид, пока не обнаружили слабый хвост, видимый только в определенных длинах волн. Это ближайшая малая планета к Солнцу с точки зрения ее большой полуоси.
		#LOC_OPX-IW_Phaekav_Biome_L = низины^pf
		#LOC_OPX-IW_Phaekav_Biome_H = высокогорье^n
		#LOC_OPX-IW_Phaekav_Biome_C = кратер^m
		#LOC_OPX-IW_Phaekav_Biome_IE = ударный выброс^m
		
		// Kret
		#LOC_OPX-IW_Kret_Name = Крет^M
		#LOC_OPX-IW_Kret_Name_Alt = 3820 Крет
		#LOC_OPX-IW_Kret_Desc = 3820 Крет — это «квазиспутник», объект, который движется по псевдоорбите вокруг Кербина. По этой причине его когда-то классифицировали как третью луну Кербина. Он имеет необычную форму, напоминающую арахис.
		#LOC_OPX-IW_Kret_Biome_L = низины^pf
		#LOC_OPX-IW_Kret_Biome_H = высокогорье^n
		#LOC_OPX-IW_Kret_Biome_C = кратеры^pm
		#LOC_OPX-IW_Kret_Biome_IE = ударный выброс^m
		
		// Neb
		#LOC_OPX-IW_Neb_Name = Неб^M
		#LOC_OPX-IW_Neb_Name_Alt = 100924 Неб
		#LOC_OPX-IW_Neb_Desc = Потенциально опасный астероид типа Кербалло, Неб был принят за плодовую мушку, когда был впервые обнаружен. Его форма дала ему прозвище «Бриллиант в небе».
		#LOC_OPX-IW_Neb_Biome_L = низины^pf
		#LOC_OPX-IW_Neb_Biome_H = высокогорье^n
		
		// Extra tags for Minor Planet Numbers
		#LOC_OPX-IW_Vant_Name_Alt = 3 Вент
		#LOC_OPX-IW_Zore_Name_Alt = 18 Зор
		#LOC_OPX-IW_Edas_Name_Alt = Эдас^M

		// ResearchBodies
		#LOC_OPX-IW_RB_Plas = 
		#LOC_OPX-IW_RB_Krov = 
		#LOC_OPX-IW_RB_Selbig = 
		#LOC_OPX-IW_RB_Hafnia = 
		#LOC_OPX-IW_RB_Kortens = 
		#LOC_OPX-IW_RB_Lui = 
		#LOC_OPX-IW_RB_Anton = 
		#LOC_OPX-IW_RB_Loushine = 
		#LOC_OPX-IW_RB_Everhart = 
		#LOC_OPX-IW_RB_Graybar = 
		#LOC_OPX-IW_RB_Vedra = 
		#LOC_OPX-IW_RB_Phaekav = 
		#LOC_OPX-IW_RB_Kret = 
		#LOC_OPX-IW_RB_Neb = 
	}
}
